<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/bootstrap-responseive.min.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/pygments.css" type="text/css" />

  <script src="javascripts/bootstrap.min.js" ></script>
</head>

<body>
  <div class="navbar" >
    <div class="navbar-inner" >
      <div class="brand">{{site.title}}</div>
    </div>
  </div>
<!--
  <section class="sidebar">
    <a href="">
      <img src="{{ site.gravatar_url }}?s=150" height="75" width="75" class="avatar" />
    </a>

    <section class="name">
      <a href="/">
        {{ site.name }}
      </a>
    </section>

    <section class="meta">
      <a href="https://github.com/{{ site.github }}" target="_blank"><img src="/images/github.png" /></a>
      <a href="/atom.xml"><img src="/images/rss.png" /></a>
    </section>

    <section class="sections">
      <ul>
        <li><a href="/about.html">about</a></li>
        <li><a href="">posts</a></li>
      </ul>
    </section>
  </section>
-->

  <div class="container">
     {{ content }}
  </div>
</body>

</html>
