<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <!-- <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" rel="stylesheet" /> -->
  <link rel="stylesheet" href="/css/theme.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/pygments.css" type="text/css" />
  <link rel="stylesheet" href="/css/site.css" type="text/css" />

  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="javascripts/bootstrap.min.js" ></script>
  <script src="javascripts/search.js" ></script>
  <script src="javascripts/site.js" ></script>
</head>

<body style="padding-top: 100px" >
  <div class="navbar navbar-fixed-top" >
    <div class="navbar-inner" >
      <div class="container" >
        <div class="brand">
          <a href="/">
            {{site.title}}
          </a>
        </div>
        <ul class="nav" >
          <li class="active" >
            <a href="/">Posts</a>
          </li>
          <li>
            <a href="https://github.com/{{ site.github }}" target="_blank">
              <img src="/images/github.png" /> GitHub
            </a>
          </li>
        </ul>
        <div class="navbar-search pull-right" >
          <input id="searchbox" type="text" class="search-query" placeholder="Search" />
        </div>
      </div>
    </div>
  </div>

  <header >
    <div class="container" >
      <h1>Blog</h1>
      <p class="lead">Caching my ideas until they are invalidated</p>
    </div>
  </header>

  <div class="container" >
    {{ content }}
  </div>
</body>

</html>
